/*DEBUT RECETTE */

/*DEBUT POP UP*/

/*!!!!!! TOUT LE POP UP !!!!!!*/

/* pop up modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Opacité augmentée pour un fond plus sombre */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--background);
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  position: relative;
  overflow: hidden; /* Cache tout débordement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour une meilleure séparation du fond */
  max-height: 90vh; /* Limite la hauteur du contenu pour éviter les débordements */
  overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur maximale */
  border-radius: 15px;
  /* Cacher la scrollbar pour Firefox */
  scrollbar-width: none;
  /* Cacher la scrollbar pour IE et Edge */
  -ms-overflow-style: none;
}
/* Cacher la scrollbar pour les navigateurs basés sur WebKit (Chrome, Safari) */
.modal-content::-webkit-scrollbar {
  display: none;
}

.close-popup {
  color: var(--white);
  background-color: var(--background-dark);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

.close-popup:hover,
.close-popup:focus {
  background-color: var(--darkgreen);
  text-decoration: none;
  cursor: pointer;
}

/* pop up modal*/

.popUpComplet {
  align-items: center;
}

.popUp {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 30px;
}

.popUp h2 {
  font-weight: 400;
}

/*!!!!!! SECTION TITRE !!!!!!*/

.titrerecettePopUp h6 {
  color: #919191;
  font-weight: normal;
}

.titrerecettePopUp p {
  padding: 20px 0;
}

.titrePopUp h2 {
  text-align: start;
  width: 335px;
}

/*VIDEO DE FOND */

.video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Centre horizontalement */
  position: relative;
  padding-top: 55%; /* Pour maintenir le ratio 16:9 */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajuste la vidéo pour qu'elle couvre tout le conteneur sans dépasser */
}

.play-checkbox {
  display: none;
}

.video-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  font-size: 50px;
  color: var(--white);
}

.video {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}

.play-checkbox:checked ~ .video {
  display: block;
}

.play-checkbox:checked ~ .video-label {
  display: none;
}

/*!!!!!! TOUTE LA SECTION RECETTE !!!!!!*/

.recettePopUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*!!!!!! ICONES + TITRE likes, partages, ma liste !!!!!!*/

.iconePopUp {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
}

.iconePopUp i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-button i {
  font-size: 20px;
}

.icon-button:hover {
  background-color: #8dbe4c;
  transform: translateY(-2px);
}

.icon-button:active {
  transform: translateY(0);
}

.titrerecettePop p {
  padding: 20px;
  display: flex;
}

.ingredients-popup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 18px;
  align-items: center;
}

.ingredients-popup div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 12px;
}

.ingredients-popup img {
  width: 118px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
}

.cardPopUp {
  transition: transform 0.5s ease;
}

.ajouter-course-PopUp {
  font-size: 12px;
  border-radius: 6px;
  border-color: #8dbe4c;
  background: var(--gradient);
  border: none;
  padding: 6px;
  cursor: pointer;
  color: var(--white);
}

.ajouter-course-PopUp:active {
  color: #f4f4f4;
}

.etapes-popup {
  display: flex;
  gap: 40px;
  align-items: center;
  border-radius: 6px;
}

.step-number-PopUp {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
}

.step-containerPopUp {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.step-description-PopUp {
  font-size: 1em;
  line-height: 1.5;
}

.preparationPopUp h2 {
  padding: 13px 0;
}

/* FIN POP UP */

/*FIN RECETTE*/

/* TABLEAU 

.time-table {
    border-radius: 50px;
    
}

.time-table h2 {
    background-color: #f8f8f8;
    color: black;
    padding: 10px;
    margin: 0; /* utilisée pour créer un espace extérieur autour des éléments, en les séparant des autres éléments ou des bords de leur conteneur. Elle définit l'espace entre l'extérieur de la bordure d'un élément et les éléments voisins ou le bord de la page.*/
/*  text-align: center; */
/* } */

/* table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f4f4f4;
    color: black;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
} */

/*début recettes*/
.containerecipe {
  margin: 55px 0;
}
.iconrecipe {
  width: 30px;
  height: 30px;
}
.aiconrecipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  gap: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* text-decoration: none; */
}
.filter-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.sectionicon {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
  gap: 30px;
}

.filtres-recipes {
  display: none;
}

.cardrecipe {
  /* background-color: black; */
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  gap: 50px;
  padding: auto;
}

.imgrecipe {
  width: 225px;
  height: 225px;
  margin: 0px auto;
  display: block;
  position: relative;
  top: 70px;
  object-fit: cover;
  z-index: 2;
}

.blockcard {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  padding: 90px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blockcard p {
  height: 146.7px;
}
.titlerecipe {
  margin-bottom: 15px;
}
.cardlovevoirplus {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.cardlovevoirplus i {
  font-size: 30px;
}

.buttonrecipevoirplus {
  cursor: pointer;
  padding: 10px 35px;
  background-color: #8dbe4c;
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 17px;
}
.buttonrecipevoirplus:hover {
  background: var(--gradient);
}
/*fin recettes*/

/*début pop up recettes*/
/*fin pop up recettes*/

@media screen and (max-width: 550px) {
  .popUp {
    padding: 0 20px;
  }
  .popUpComplet {
    padding: 0;
  }
  .popUp {
    margin: 20px auto !important;
    max-width: none !important;
    padding: 0 20px;
  }
  .popUp {
    margin: 20px auto !important;
    max-width: none !important;
  }
  .icon-button {
    padding: 2px 5px !important;
    font-size: 12px;
  }

  .titrerecettePopUp p {
    font-size: 14px;
  }
  .titrerecettePopUp {
    width: 100%;
  }

  .modal-content {
    width: 100%;
    max-height: 100vh;
    border-radius: 0px;
  }
  .modal {
    left: 0;
    align-items: start;
  }
  .titre-recipe-filtre {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    width: 100%;
    padding: 0 20px;
  }
  .ingredients-popup {
    justify-content: start;
  }
  .filter-container {
    display: none;
  }
  .cardrecipe {
    margin: 0px auto !important;
  }
}

@media screen and (max-width: 910px) {
  .recettePopUp {
    flex-direction: column;
    align-items: start;
  }
  .iconePopUp {
    margin-top: 16px;
  }
}
