@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Amertha;
  src: url(../font/Amertha_PERSONAL_USE_ONLY.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkgreen: #50a946;
  --green: #8dbe4c;
  --light-green: #d6e8bf;
  --gradient: linear-gradient(
    0deg,
    rgba(80, 169, 70, 1) 0%,
    rgba(141, 190, 76, 1) 100%
  );
  --background: #f3f3f3;
  --background-dark: #8a8a8a;
  --beige: #f2efdc;
  --white: #ffffff;
  --black: #1e1e1e;
  --light-black: #1e1e1ec6;
  --grey: #d9d9d9;
  --light-grey: #919191;
  --like: #e85353;
  --border: #cccccc;
}

/*general*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.button-primary {
  border: none;
  background: var(--gradient);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

h1,
h2 {
  font-weight: 400;
}

h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 30px;
}

/*general*/

/*début navbar*/
.background-accueil {
  background-image: url(../images/background/background-accueil.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 120vh;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  backdrop-filter: blur(1px);
}

.shadow-navbar {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.navbar-container i {
  font-size: 20px;
  background: linear-gradient(
    0deg,
    rgba(80, 169, 70, 1) 0%,
    rgba(141, 190, 76, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: opacity 0.4s;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}

.navbar-links a {
  color: var(--black);
}

.navbar-links a:hover {
  color: var(--darkgreen);
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.search-user {
  display: flex;
  align-items: center;
  gap: 38px;
  max-height: 35px;
}

.search {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  border: 2px solid var(--green);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.user i {
  font-size: 18px;
}

/*titre accueil*/

.titre-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  position: relative;
  top: 22%;
}

.welcome-titre {
  text-align: center;
  font-weight: 400;
}

.desc-titre-accueil {
  max-width: 560px;
  text-align: center;
  font-size: 20px;
}

/*titre accueil*/

/*sidebar*/

.overlay_sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0; /* Ouvrir à partir de la droite */
  width: 0;
  height: 100%;
  transition: width 0.4s ease;
  overflow: hidden;
  visibility: hidden;
}

.overlay_sidebar.active {
  width: 100%; /* Rend la sidebar visible */
  visibility: visible;
}

.side_bar {
  width: 320px;
  background: var(--gradient);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.overlay_sidebar.active .side_bar {
  transform: translateX(0); /* Amène la sidebar en vue */
}

.toggle-button {
  display: none;
  cursor: pointer;
  color: inherit;
}

.toggle-button i {
  font-size: 35px;
}

/*sidebar*/

/*fin navbar*/

/*début accueil*/

/* début carousel */

.section-carousel {
  background: linear-gradient(
    0deg,
    rgba(243, 243, 243, 1) 35%,
    rgba(242, 239, 220, 1) 100%
  );
  text-align: center;
  padding: 50px 0;
}

.carousel {
  position: relative;
  width: 90%;
  margin: 35px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 1080px;
  gap: 26px;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carousel-item {
  min-width: 250px;
  height: 180px;
  cursor: pointer;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  color: #333;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/* fin carousel */
/* faq */
/* faq */
.section-faq {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px 25px;
}

.title-faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sous-titre-faq {
  max-width: 700px;
  text-align: center;
  color: var(--light-black);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  padding-top: 35px;
}

.faq-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey); /* Couleur de fond par défaut */
  border-radius: 10px;
  padding: 18px 22px;
  align-items: start;
  text-align: start;
  width: 80%;
  max-width: 1080px;
  transition: background-color 0.3s ease; /* Transition douce pour la couleur */
}

.faq-item.active {
  background-color: var(--green); /* Couleur de fond lorsqu'il est actif */
}

.faq-item h4 {
  height: 34px;
  display: flex;
  align-items: center;
}

.desc-faq {
  text-align: initial;
  width: 72%;
}

.desc-faq p {
  color: var(--light-black);
  font-size: 14px;
  padding-top: 8px;
  display: none; /* Masquer par défaut */
}

/* Afficher le texte si la section est active */
.faq-item.active .desc-faq p {
  display: block;
}

.voir-plus-faq {
  background-color: var(--white);
  border-radius: 50%;
  padding: 8px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.voir-plus-faq i {
  font-size: 18px;
  transform: rotateZ(135deg); /* Par défaut à 0 degré */
  transition: transform 0.3s ease;
}

/* Rotation de la flèche quand la section est active */
.faq-item.active .voir-plus-faq i {
  transform: rotateZ(-45deg);
}

/* faq */

/*fin accueil*/

/*début profile*/

.profile-container {
  margin: 40px auto;
  background: var(--background);
  padding: 0 35px;
  border-radius: 8px;
}

.profile-content {
  display: flex;
}

.profile-sidebar {
  flex: 1;
}

.profile-sidebar ul {
  list-style-type: none;
}

.profile-sidebar ul li {
  margin-bottom: 20px;
}

.profile-sidebar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black);
}

.titre-infos-perso {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-sidebar ul li a:hover {
  color: var(--darkgreen);
}

.profile-main-content {
  flex: 3;
}

.security-section {
  display: none;
}

#profile {
  display: block;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-details-container {
  display: flex;
  align-items: center;
}

.change-profile-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 15px 20px;
  border-radius: 15px;
}

.personal-infos {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 15px 20px;
  border-radius: 15px;
  margin-top: 25px;
}

.img-profile {
  display: flex;
}

.profile-photo {
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
}

.edit-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 6px 16px;
  border-radius: 15px;
}

.form-change-profile {
  margin-top: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-weight: normal;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--white);
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  outline: 2px solid var(--darkgreen);
}

.edit-button {
  padding: 10px 20px;
  background: var(--gradient);
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-right: 18px;
  border-radius: 10px;
}

.edit-button:hover {
  background-color: var(--darkgreen);
  color: var(--white);
}

.security-options {
  margin-top: 20px;
}

.button-security {
  display: flex;
  justify-content: end;
}

.delete-button {
  background: transparent;
  border: 2px solid var(--darkgreen);
  padding: 10px 15px;
  color: var(--darkgreen);
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
}

.delete-button:hover {
  background-color: var(--light-green);
}

/*fin profile*/

/*début erreur*/
/*fin erreur*/

/*début contact*/

.title-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-contact p {
  max-width: 600px;
  margin: auto;
  color: var(--light-grey);
}

.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  margin: 55px 0;
}

.info-contact-container {
  display: flex;
  gap: 85px;
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
}

.form-container {
  width: 60%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-container {
  width: 40%;
}

.info-container h4 {
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 18px;
}

.nom-prenom {
  display: flex;
  justify-content: space-between;
}

.nom-prenom input {
  width: 250px;
}

.input-container-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container-contact label {
  font-size: 18px;
  font-weight: 500;
}

.input-container-contact input,
.input-container-contact textarea {
  outline: none;
  border: 1.5px solid var(--border);
  padding: 12px 15px;
  resize: none;
  border-radius: 8px;
}

.input-container-contact input:focus,
.input-container-contact textarea:focus {
  border: 1.5px solid var(--darkgreen);
}

.input-container-contact textarea {
  height: 100px;
}

.icon-contact {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
  cursor: pointer;
}

.icon-contact:hover {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
  color: var(--darkgreen);
}

.icon-contact p,
.icon-contact a {
  text-decoration: underline;
}

.icon-contact i {
  font-size: 20px;
}

.icon-contact a {
  color: inherit;
}

.social-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  gap: 8px;
}

.text-contact {
  color: var(--light-grey);
}

.btn-contact {
  font-size: 16px;
}

/*fin contact*/

/*debut footer*/

footer svg {
  display: block;
  position: relative;
  top: 1px;
}

.footer {
  background: var(--gradient);
  color: var(--white);
  padding: 20px 50px 50px 50px;
}

.footer-links-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.footer-links h4 {
  font-weight: 400;
  font-size: 16px;
}

.footer-list {
  margin-top: 22px;
  font-size: 14px;
}

.logo-footer.footer-list {
  width: 320px;
  opacity: 0.6;
}

.titre-footer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 6px;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links li {
  font-size: 16px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

/*fin footer*/

/*responsive*/

@media screen and (max-width: 1350px) {
  .carousel-container {
    width: 802px;
  }
}

@media screen and (max-width: 1240px) {
  .navbar-container {
    padding: 20px !important;
  }
  .navbar-links {
    display: none;
  }
  .search-user {
    display: none;
  }
  .toggle-button {
    display: block;
  }
  .overlay_sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
  }
  .overlay_sidebar.active {
    width: 250px;
  }
  .box_sidebar {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
  }
  .side_bar a {
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
    display: block;
    transition: 0.3s;
    font-weight: 300;
    letter-spacing: 0.2px;
  }
  .side_ul a:hover {
    text-decoration: underline !important;
  }
  .side_content {
    padding: 30px;
  }
  /*searchbar sidebar*/
  .searchbar form {
    background-color: var(--white);
    padding: 8px;
    border-radius: 5px;
    width: 200px;
    display: flex;
    font-size: 20px;
  }
  .searchbar input {
    width: 90%;
    outline: none;
    border: none;
  }
  .searchbar form i {
    color: var(--green);
  }
  /*searchbar sidebar*/
  .side_link {
    margin-top: 60px;
  }
  .close_botton a.close {
    font-size: 36px;
    font-weight: 200;
    color: var(--white);
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 30px;
    transition: 0.3s;
  }
  .side_ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .membre,
  .botton_sidebar,
  .icon_sidebar,
  .reseaux_sidebar {
    display: flex;
    margin: 20px 0;
  }
  .icon_sidebar {
    flex-direction: column;
    gap: 25px;
  }
  .reseaux_sidebar {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  .settings-logout {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .membre {
    color: var(--white);
    opacity: 0.65;
  }
  .btn-sidebar {
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 20px;
    text-align: center;
    border: 2px solid var(--white);
  }
  .btn-rejoindre {
    background-color: var(--white);
    color: var(--darkgreen);
  }
  .button_sidebar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .btn-rejoindre.btn-sidebar {
    color: var(--darkgreen);
  }
  .btn-sidebar a {
    padding: 0;
  }
  .button_sidebar a {
    font-size: 16px !important;
  }
  .btn-identifier {
    background-color: transparent;
    color: var(--white);
  }
}

@media screen and (max-width: 1040px) {
  .nom-prenom {
    flex-direction: column;
    gap: 10px;
  }
  .nom-prenom input {
    width: 100% !important;
  }
  .info-contact-container {
    padding: 0 30px !important;
  }
  .carousel {
    width: 100%;
  }
  .carousel-container {
    width: 802px;
  }
}

@media screen and (max-width: 915px) {
  .titre-footer {
    align-items: center !important;
  }
  .profile-details {
    flex-direction: column;
  }
  .profile-content {
    flex-direction: column;
  }
  .profile-sidebar {
    display: flex;
  }
  .profile-container {
    margin: 40px 20px !important;
  }
  .profile-sidebar ul li a {
    font-size: 15px;
  }
  .profile-sidebar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .profile-details {
    justify-content: center;
  }

  .profile-details form {
    width: 100%;
    margin-top: 20px;
  }

  .carousel-container {
    width: 528px;
  }
}

@media screen and (max-width: 815px) {
  .background-accueil {
    background-image: url(../images/background/background-phone.png);
    height: 100vh;
  }
  .footer-links-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 40px;
  }
  .footer-links {
    text-align: center;
  }
  .footer-list {
    margin-top: 16px;
  }
  .info-contact-container {
    flex-direction: column;
    gap: 35px !important;
  }
  .form-container {
    width: 100% !important;
  }
  .info-container {
    width: 100% !important;
  }
  .title-contact p {
    width: 100%;
    margin: 0 !important;
  }
  .title-contact {
    width: 100%;
    padding: 0 30px !important;
    text-align: start !important;
  }
  .container-contact {
    gap: 40px !important;
    margin-bottom: 65px !important;
  }
}

@media screen and (max-width: 700px) {
  .carousel-container {
    width: 252px;
  }
  .carousel {
    width: 65%;
  }
  .desc-faq {
    width: 86%;
  }
  .faq-item {
    width: 100%;
  }
  .sous-titre-faq {
    font-size: 14px;
    padding: 12px 8px 0px 8px;
  }
  .faq-item h4 {
    font-size: 14px;
  }
  .title-faq h2 {
    font-size: 20px;
  }
  .faq-container {
    padding-top: 28px;
  }
}

@media screen and (max-width: 550px) {
  .welcome-titre {
    font-size: 22px;
  }
  .titre-accueil {
    padding: 0 30px;
  }
  .desc-titre-accueil {
    font-size: 16px;
  }
  .button-primary {
    font-size: 14px;
  }
  .footer {
    padding: 25px 50px 50px 50px !important;
  }
  .container-contact {
    margin: 35px 0 !important;
  }
  .copyright {
    font-size: 12px;
  }
  .faq-item {
    padding: 18px;
  }
  .carousel {
    width: 100%;
  }
}
/*responsive*/

/*@media screen and (max-width: 915px) {
.profile-container {
margin: 40px 20px !important;
}
.profile-details {
width: 100%;
}
}
.change-profile-pic {
padding: 15px 20px;
padding: 15px;
width: 100%;
}
.profile-container {
padding: 0 35px;
padding: 0 20px;
}
.profile-photo {
width: 80px;
margin-right: 30px;
width: 49px;
margin-right: 15px;
}
.edit-profile {
padding: 6px 16px;
padding: 11px;
}
Feuille de style intégrée #2
.profile-details h3 {
font-size: 16px;
}
.desc-profile p {
font-size: 14px;
}
.edit-profile p {
font-size: 14px;
display: none;
}*/
